<h1>All Games</h1>

<ul id="games">
  <% @games.each do |g| %>
    <li>
      <%= link_to g.title, games_path(g), class: 'game-title' %>
    </li>
  <% end %>
</ul>

<%= link_to "Add A Game", new_game_path, class: "new-game" %>
